<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'home/CSS/styles.css' %}">
    <title>Sustravels</title>
</head>
<body>
    <!---A menu with Calculator, About Us, Contact Us and Join Us (CTA) -->
    <header>

        <ul>
            <li><a href="#Calculator">Calculator</a></li>
            <li><a href="#About">About Us</a></li>
            <li><a href="#ContactUs">Contact Us</a></li>
            <li class="btn btn-default btn-primary"><a href="#">Join Us</a></li>
        </ul>

        <div class="container">
            <h1>
                Sustravels - We help tourists calculate their travelling carbon footprint and take actions to offset it.
            </h1>
    </div>
    </header>

        <!---Calculator ( , customer segments), About Us (Impact Statement, Mission statement, Founder Profile, Country of operations), Contact Us (Form, Newsletter sign up), Footer (copyrights, menu, maybe newsletter signup) as SECTIONS-->

        <!-- =========================================================================================================== -->
        <section id="Calculator">
            <h3>The Calculator</h3>
            <div class="container">
                <!-- <form action="{% url 'calculator' %}" method="post"> -->
                    {% csrf_token %}
                    <fieldset>
                        <legend><h1>Calculate your carbon footprint here</h1></legend>
                        <!-- {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} -->
                        <!-- {% for choice in question.choice_set.all %} -->
                            <!-- <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                        {% endfor %} -->
                        
                                <!---Drop down input-->
                                <div>
                                    <label for="dropdown1">Departure Location:</label>

                                    <select name="dropdown1" id="dropdown1">
                                    <option value="Instagram">London</option>
                                    <option value="MySite">France</option>
                                    <option value="street">New York</option>
                                    <option value="home">Hong Kong</option>
                                    </select>
                                </div>


                <!---Drop down input-->
                <div>
                    <label for="dropdown2">Destination location:</label>

                    <select name="dropdown2" id="dropdown2">
                        <option value="Instagram">Nairobi</option>
                        <option value="MySite">Mombasa</option>
                        <option value="street">Pamplemousses</option>
                        <option value="home">Kigali</option>
                    </select>
                </div>

                    </fieldset>
                    <input type="submit" value="Calculate">
                    </form>
            </div>

            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32661584.991704028!2d5.197955148537857!3d2.149901849198924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10a06c0a948cf5d5%3A0x108270c99e90f0b3!2sAfrica!5e0!3m2!1sen!2ske!4v1657011960282!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>

        <!-- ============================================================================================================ -->
        <section id="About">
            <h3>About Us</h3>

            <h4>Our Impact Statement</h4>
                <h2>
                    Our Primary Focus at Sustravels is achieving a net-zero emissions world by the year 2050.
                </h2>
                    <cite>
                        - Benson Mugure, Founder & CEO @ Sustravels
                    </cite>

            <h4 class="founder">Founder Profile</h4>
            <div class="flex-parent2 container">
                <div>
                    <img id="founder" src="{% static 'home/images/founder.jpg' %}" alt="Benson Mugure">
                </div>
                <div>
                    <p>Benson Mugure is a passionate serial entrepreneur in the Fintech, GreenTech and Film industries. His experience includes being a relationship officer at Equity Bank Limited in Kenya, an Executive Assistant to the CEO of a consulting firm in Mauritius, a Future Fintech Champion at the Mauritius African Fintech Hub and a Circular Economy Champion at the Ellen MacArthur Foundation in London.
                    </p>
                    <!--LinkedIn, Twitter, IG buttons-->
                </div>
            </div>

        </section>

        <section id="ContactUs">
            <h3>Contact Us</h3>
                <form>
                    <label for="fname" id="fname-label">First Name:</label>
                    <input type="text" id="fname" name="fname" placeholder="First name" required>

                    <label for="lname" id="lname-label">Last Name:</label>
                    <input type="text" id="lname" name="lname" placeholder="Last name" required> <br><br>

                    <!---Email input-->
                    <label for="email" id="email-label">Email Address:</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email address" required><br>

                    <!---Radio button-->
                    <p>Please choose your gender: </p>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">male</label><br>

                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">female</label><br>

                    <p>Please type your message below:</p>
                    <textarea class="form-control" name="message" rows="10"></textarea>
                    <br><br>

                    <!---Submit button-->
                    <input id="submit" type="submit" value="Submit">
                </form>
        </section>
    
    <footer>
        <div class="flex-parent">
        <!---Newsletter subscription (Hyper benchmark)-->
        <div id="footer1">
            <ul>
                <li><a href="#Calculator">Calculator</a></li>
                <li><a href="#About">About Us</a></li>
                <li><a href="#ContactUs">Contact Us</a></li>
                <li class="btn btn-default btn-primary"><a href="#">Join Us</a></li>
            </ul>
            <br><br><br>
            <p>
                Designed by <a href="https://github.com/Virgo-Alpha" target="_blank">Virgo Alpha</a> <!---Link to my github profile-->
            </p>
        </div>

      <div id="footer2">
        <p>Register for our Newsletter</p>
        <input type="email" id="email2" name="email" placeholder="email address" required>
        <input class="btn btn-primary" id="submit" type="submit" value="Subscribe">
        <br>
        <br>
        <p>
            Just want to say hi? Send us an email at b.mugure@alustudent.com  <!---Link to user's inbox-->
        </p>
        <br>
        <br>
        <br>
        <p>
            <!--Copyright icon--> 
            &#169 2022 Sustravels. All rights reserved
        </p>
      </div>
    </div>
    </footer>
</body>
</html>
